.math {
    font-size: 1.2rem;
}

tr .math {
    font-size: 1.0rem;
}

[data-testid="stHeader"] {
    background-color: rgba(078, 042, 132, 0.5);
    visibility: collapse;
    display: none;
}

[data-baseweb="accordion"] .math {
    font-size: 0.66rem;
}

[data-testid="stMarkdownContainer"] p {
    font-size: 1.2rem;
}

[data-testid="stSidebar"] p {
    font-size: 1.0rem;
}

div.glideDataEditor {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 2.2rem;
    text-align: center;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
}

[data-testid="stCaptionContainer"] {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

[data-testid="stCheckbox"] {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}


div.st-key-intro_information div[data-testid="stFullScreenFrame"] {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.st-key-intro_information div.st-key-intro_badges div[data-testid="stMarkdown"] {
    text-align: center;
}

div[data-testid="stFullScreenFrame"] {
    display: flex;
    justify-content: center;
}